header {
  background: url(../images/vreelandsit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 650px;
  position: relative;
  font-family: 'Roboto', sans-serif; }
  header .container {
    display: block; }
  header .logo {
    height: 70px;
    float: left; }
  header .main-nav {
    float: right; }
  header .main-nav li {
    float: left;
    margin: 8px; }
  header .main-nav li a {
    color: #305291;
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color: white; }
  header ul {
    list-style: none; }
  header .dropdown {
    position: relative; }
  header .dropdown .drop-nav {
    position: absolute;
    display: none; }
  header .main-nav li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    background-color: #134054;
    border: 2px solid #218597;
    border-radius: 4px;
    transition: .25s ease;
    color: white;
    text-transform: uppercase; }
  header .headercontent {
    clear: both;
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    color: #001c25;
    text-transform: uppercase;
    transform: translate(-50%, -50%); }
  header #primary_nav_wrap {
    margin-top: 15px; }
  header #primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0; }
  header #primary_nav_wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px; }
  header #primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0; }
  header #primary_nav_wrap ul li.current-menu-item {
    background: #ddd; }
  header #primary_nav_wrap ul li:hover {
    background: #f6f6f6; }
  header #primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0; }
  header #primary_nav_wrap ul li:hover > ul {
    display: block; }

.dianaanthem {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
  height: 300px;
  background-color: #001c25;
  color: #dedede;
  position: relative;
  font-family: 'Roboto', sans-serif; }
  .dianaanthem h2 {
    text-align: center;
    text-transform: uppercase; }
  .dianaanthem p {
    text-align: center;
    text-transform: uppercase; }

.mainbody {
  padding: 30px;
  text-align: center;
  overflow: visible;
  background-color: #6d7b81; }
  .mainbody h2, .mainbody p {
    color: #dedede;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif; }
  .mainbody article {
    width: 20%;
    display: inline-block;
    background-color: inherit;
    height: 150px;
    color: #dedede;
    vertical-align: top;
    margin: 30px 1%;
    padding: 1%;
    padding-top: 30px; }

.footer {
  display: block;
  background-color: #d9d9d9;
  font-family: 'Roboto', sans-serif; }
  .footer p {
    display: inline-block;
    text-align: center;
    margin: 33px;
    margin-left: 270px; }

/*# sourceMappingURL=main.css.map */
